* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #7f97c2;
}

html,
body {
  overflow-x: hidden;
}

/*  Modal Carga Productos */
div.banner {
  width: 100vw;
  height: 5vh;
  margin: 10px;
  display: flex;
}

#boton-volver {
  height: 90%;
  width: 5%;
  background-color: #5f6a7d;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
}

#boton-volver i {
  color: #e7e7e7;
}

#boton-volver:hover {
  background-color: #303030;
}

#boton-volver:active {
  transform: translateY(4px);
}


div.container-titulo {
  display: flex;
  justify-content: center;
  width: 85%;
  height: 90%;
}


div.load-container {
  width: 100vw;
  background-color: #7f97c2;
  display: flex;
  position: fixed;
  z-index: 3;
  align-items: center;
  justify-content: center;
}

#modal-load {
  height: 90vh;
  width: 90vw;
  border: 3px solid #e7e7e7;
  border-radius: 8px;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#modal-load h1 {
  font-size: 50px;
  padding: 20px;
}
#mensaje-load {
  font-size: 20px;
}

#boton-submit {
  width: 140px;
  height: 40px;
  padding: 10px;
  background-color: #5f6a7d;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
}

#boton-submit:hover {
  background-color: #303030;
}

div.input-producto {
  display: flex;
  height: 30px;
  max-width: 300px;
  margin: 10px;
  justify-content: space-between;
}

.input-prod::placeholder {
  padding: 11px;
  font-size: 16px;
}

div.container-carga-productos {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}


label {
  padding: 0 10px;
}

h4.img-title {
  margin: 0 10px;
}

input#image-file {
  padding: 0 0 0 25px;
}

#mensaje-cargado {
  display: none;
  width: 40vw;
  height: 15vh;
  background-color: #5f6a7d;
  color: #e7e7e7;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: fixed;
}

@media screen and (max-width: 768px) {
  #modal-load {
    border: none;
    padding: 10px;
  }
  #mensaje-load {
    padding: 0;
  }
  #boton-volver {
    width: 15%;
  }
}