* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #B3C8EC;
}

/* ---- nav ---- */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #648FD9;
    font-family: 'Poppins', sans-serif;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #FFFFFF;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;

}

.logo {
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #FFFFFF;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 60%;
    }

    .body {
        overflow-x: hidden;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #648FD9;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* ---- aside ---- */

.filters-container {
    display: flex;
    float: left;
    background-color: #4F5969;
    width: 20%;
    height: 100vh;
    padding-top: 30px;
}

@media screen and (max-width:768px) {
    .filters-container {
        width: 40%;
    }
}

div.filters h3 {
    padding: 20px;
    color: white;
}

div.filters li {
    padding: 10px 10px 10px 20px;
    color: white;
}

div.filters a {
    text-decoration: none;
    color: white;
    padding-left: 15px;
}

div.filters a:hover {
    font-weight: 600;
}

/* Seccion lista de productos  */
.listing-container #productos{
    display: flex;
    padding: 20px;
    height: auto;
    flex-wrap: wrap;
}

.product {
    background-color: #FFFFFF;
    border-radius: 5%;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    box-shadow: 7px 7px 10px #515869;
}

img.product-img {
    width: 200px;
    justify-self: flex-start;
    align-self: center;
}

.product-info {
    display: flex;
    flex: 1;
    align-items: flex-end;
}

.product-title {
    padding: 10px;
}

.product-price {
    padding-top: 10px;
}

/* Seccion de Contacto */

.contact-container {
    width: auto;
    height: 20vh;
    background-color: #648FD9;
}

.contact-container h2 {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    padding-top: 30px;
}

.contact-container ul {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}

.contact-container li {
    list-style: none;
}

.contact-container li a {
    color: #ffffff;
    text-decoration: none;
}
.contact-container a:hover {
    color: #e0e0e0;
}