* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.nav-bar-container {
    max-width: auto;
    margin: auto;
    padding: 0 25px;
    background: #648FD9;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

div.logo img {
    width: 120px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #000000;
}

.navbar img {
    width: 27px;
    height: 27px;
}

.navbar nav li a:hover {
    font-weight: 600;
}

.filters-container {
    background-color: #5ED7E6;
    width: 20%;
    height: 1200px;
}

.filters {
    background-color: #62BBF0;

}

div.filters h3 {
    padding: 20px;
}

div.filters li {
    padding: 10px 10px 10px 20px;
}

div.filters a:hover {
    font-weight: 600;
}

